services:
  mlflow:
    build: ./services/mlflow
    ports:
      - "${MLFLOW_PORT}:5000"
    volumes:
      - mlflow_data:/mlflow
    environment:
      - MLFLOW_TRACKING_URI=http://0.0.0.0:5000

  api:
    build: ./services/api
    ports:
      - "${API_PORT}:8000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - MODEL_NAME=churn_logistic_champion
      - MODEL_STAGE=latest
      - ARTIFACTS_DIR=/app/artifacts/logistic
    depends_on:
      - mlflow
    volumes:
      - mlflow_data:/mlflow
      - ./mlops-repo/artifacts:/app/artifacts:ro

  training:
    build: ./services/training
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - ARTIFACTS_DIR=/app/artifacts/logistic
      - MODEL_NAME=churn_logistic_champion
    depends_on:
      - mlflow
    volumes:
      - mlflow_data:/mlflow
      - ./mlops-repo/artifacts:/app/artifacts:ro

volumes:
  mlflow_data: